In [141]:
import pandas as pd
import numpy as np
from collections import Counter

In [142]:
df = pd.read_csv('data1.csv')
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [143]:

Total_label  = dict(df['Play Tennis'].value_counts())
Total_label

{'Yes': 9, 'No': 5}

In [144]:
df.shape[0]

14

In [145]:
def get_Prob(col_name):
    l_y = []
    l_n = []

    for val in df[col_name].unique():
        aa = df[df[col_name] == val]
        y,n = aa[aa['Play Tennis'] == 'Yes'],aa[aa['Play Tennis']== 'No']

        l_y.append(str(y.shape[0])+'/'+str(Total_label['Yes']))
        l_n.append(str(n.shape[0])+'/'+str(Total_label['No']))

    d_col_name = pd.DataFrame(index=df[col_name].unique(),data=list(zip(l_y,l_n)),columns='Yes No'.split(' '))
    return d_col_name


def get_dat(dfz,row,col):
    a,b = [int(i) for i in dfz.loc[row][col].split('/')]
    return a,b
    
    
#get_dat(get_Prob('Outlook'),'Sunny','Yes')

get_Prob('Outlook')

          Yes   No
Sunny     2/9  3/5
Overcast  4/9  0/5
Rain      3/9  2/5

In [146]:
[int(i) for i in get_Prob('Outlook').loc['Rain']['No'].split('/')]

[2, 5]

In [147]:
print(get_dat(get_Prob('Outlook'),'Rain','No'))


def baye_prob(col1, col2, col3, col4):
    p1_no = get_dat(get_Prob('Outlook'), col1, 'No')[
        0]/get_dat(get_Prob('Outlook'), col1, 'No')[1]
    p2_no = get_dat(get_Prob('Temperature'), col2, 'No')[
        0]/get_dat(get_Prob('Temperature'), col2, 'No')[1]
    p3_no = get_dat(get_Prob('Humidity'), col3, 'No')[
        0]/get_dat(get_Prob('Humidity'), col3, 'No')[1]
    p4_no = get_dat(get_Prob('Wind'), col4, 'No')[
        0]/get_dat(get_Prob('Wind'), col4, 'No')[1]

    p1_y = get_dat(get_Prob('Outlook'), col1, 'Yes')[
        0]/get_dat(get_Prob('Outlook'), col1, 'Yes')[1]
    p2_y = get_dat(get_Prob('Temperature'), col2, 'Yes')[
        0]/get_dat(get_Prob('Temperature'), col2, 'Yes')[1]
    p3_y = get_dat(get_Prob('Humidity'), col3, 'Yes')[
        0]/get_dat(get_Prob('Humidity'), col3, 'Yes')[1]
    p4_y = get_dat(get_Prob('Wind'), col4, 'Yes')[
        0]/get_dat(get_Prob('Wind'), col4, 'Yes')[1]


    p_yes = p1_y*p2_y*p3_y*p4_y*(9/14)
    p_no = p1_no*p2_no*p3_no*p4_no*(5/14)

    p_yes_ = p_yes/(p_yes+p_no)
    p_no_ = p_no/(p_no+p_yes)


    print(p_yes_)
    print(p_no_)

    if p_yes_ > p_no_:
        print("Play Tennis : Yes")
    else:
        print("Play Tennis : No") 

baye_prob("Overcast" , "Hot" , "High" , "Weak")

(2, 5)
1.0
0.0
Play Tennis : Yes